p{
  margin-bottom: 5px;
  margin-top: 3px;

}

.marco{
  padding: 20px 19px 0px;
  font-size: 11px;
  width: 190px;
  height: 330px;
}

.tienda{
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 12px;
}

.cabecera, .datos{
  text-align: center;
}

span{
  font-weight: bold;
}

